<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <title>Edit User</title>
</head>
<body>
    <div class="container">
        <h1>Edit User</h1>
        <form th:action="@{/update}" method="post" enctype="multipart/form-data" th:object="${user}" onsubmit="return confirm('Confirm update?');">
            <input type="hidden" th:field="*{id}" />
            <input type="text" th:field="*{name}" placeholder="Name" required />
            <input type="date" th:field="*{dob}" required />
            <input type="file" name="image" accept="image/*" />
            <button type="submit" class="fancy-btn"><span>Update User</span></button>
            <!-- <button class="fancy-btn" type="submit">
            <span>Add User</span>
            </button> -->

        </form>
    </div>
</body>
</html>
